.text{
    border: color red;
    text-align: center;
    background-color: blueviolet;
    border-radius: 30px;
}
.h3{
background-color: yellow;
text-align: center;
}
.h4{
    background-color: yellow;
    text-align: center;
}
.h5{
    color: green;
}
.h6{
background-color: darkcyan;    
}
table {
            width: 800px;
            border-collapse: collapse;
            margin: 20px auto;
        }
        th, td {
            border: 1px solid #444;
            padding: 10px;
            text-align: center;
        }
        .title {
            background-color: yellow;
            font-weight: bold;
            font-size: 18px;
        }
        .header-left {
            background-color: green;
            color: white;
            font-weight: bold;
        }
        .header-right {
            background-color: blue;
            color: white;
            font-weight: bold;
        }
        .animal {
            background-color: red;
            color: white;
            font-weight: bold;
        }
        .fact {
            background-color: black;
            color: white;
        }